*{
    margin: 0;
    padding: 0;
}

body
{
    position: relative;
    background-color:#e7f5ff;
    font-family: sans-serif;
    
}

.form{
    display: grid;
    grid-template-columns: repeat(2,30rem);
}

.work-exp
{
    grid-column: span 2;
}

.details
{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1rem;

    padding: 1rem;
    font-family: 'Roboto', sans-serif;
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
     /* This ensures the container takes the full height of the viewport */
  }

  .title
{
    font-weight: bold;
    font-family: sans-serif;
    font-size: 1.5rem;
}

.head {
    width: 95%;
    padding: 2rem 2rem 2rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .nav-bar-links:link,.nav-bar-links:visited{
    text-decoration: none;
    margin-left: 1rem;
    color: black;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
  }
  
  .nav-bar-links:active,.nav-bar-links:hover{
      border-radius: 6px;
      color: #4dabf7;
      transition: all 0.3s ease;
  }
  
.form input
{
    align-self: center;
    outline: none;
    padding: 0.5rem 1rem;
    width: 40%;

}

.button {
    padding: 1rem 2rem;
    margin-top: 1rem;
    background-color: #1a91f0;
    color: #ffffff;
    border: none;
    border-radius: 6px;
    display: inline-block; /* Ensures the button doesn't take full width */
  }

textarea{
    width: 80%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    height:6rem;
    border-radius: 4px;
    outline: none;
    font-size: 16px;
    resize: none;
    align-self: center;
  }


  
@media(max-width:728px)
{
    .form{
        display: flex;
        flex-direction: column;
    }
}
